.turbo
node_modules
db.sqlite
**/node_modules
**/**/node_modules
apps/native
apps/web
packages/evolu-react
packages/evolu-react-native
packages/evolu-common-react
packages/evolu-common-web
pnpm-lock.yaml
dist
**/dist
**/**/dist