__screenshots__
.DS_Store
.eslintcache
.next
.turbo
.vite
*.tsbuildinfo
coverage
dist
.vitest-attachments
next-env.d.ts
node_modules
test-identicons
tmp

# apps/relay
apps/relay/data/*
!apps/relay/data/.gitkeep

# apps/web
apps/web/src/app/(docs)/docs/api-reference/**
apps/web/src/data/sections.json

# packages/svelte
packages/svelte/.svelte-kit

# examples/react-expo
examples/react-expo/.expo/
examples/react-expo/expo-env.d.ts
examples/react-expo/ios
examples/react-expo/android

