auto-install-peers=true
# While Expo doesn't require hoisted anymore, Electron still needs it
# https://www.electronjs.org/docs/latest/tutorial/tutorial-first-app#initializing-your-npm-project
node-linker=hoisted